<%- include('partials/header') %>
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Código</th>
        <th>Título</th>
        <th>Año</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% episodes.forEach(ep => { %>
        <tr>
          <td><span class="badge badge-ghost"><%= ep.code %></span></td>
          <td><div class="font-bold"><%= ep.title %></div></td>
          <td><%= ep.year %></td>
          <td>
            <button class="btn btn-sm btn-primary" onclick="my_modal_<%= ep._id %>.showModal()">Ver detalles</button>
            
            <dialog id="my_modal_<%= ep._id %>" class="modal">
              <div class="modal-box">
                <h3 class="font-bold text-lg"><%= ep.title %></h3>
                <p class="py-4"><%= ep.summary %></p>
                <div class="modal-action">
                  <form method="dialog">
                    <button class="btn">Cerrar</button>
                  </form>
                </div>
              </div>
            </dialog>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('partials/footer') %>