<%- include('partials/header') %>

    <section>HELLO DESDE EPISODIOS!!</section>

    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">

        <table class="table">
            <!-- head -->
            <thead>
                <tr>
        
                    <th>Code</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% episodes.forEach(function(element,index){ %>
                    <!-- row 1 -->
                    <tr>
                        <th><%= element.code%></th>
                        <td><%= element.title%></td>
                        <td><%= element.year%> </td>
                        <td>
                            <!-- Open the modal using ID.showModal() method -->
                            <button class="btn btn-info" onclick="infoModal('<%= element._id %>','box-<%=index%>','my_modal_<%=index%>')">Ver detalles</button>
                        </td>
                        <td><button class="btn btn-warning" onclick="deleteEpisode('<%= element._id %>')">Eliminar</button></td>
                    </tr>
                <% }); %>
                
            </tbody>
        </table>
        <dialog id="my_modal" class="modal">
                                <div class="modal-box" id="box">

                                </div>
                            </dialog>
    </div>

    <ul>
        <li>
            
        </li>
    </ul>
    <%- include('partials/footer') %>