<div class="flex flex-row gap-3">

  <% characters.forEach(char=>{ %>

    <div class="card card-side bg-base-100 shadow-sm">
      <figure>
        <img src="<%= char.img %>" alt="<%= char.name %> " />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          <%= char.name%>
        </h2>
        <p>
          <%= char.species %> - <%= char.age %> años
        </p>

      </div>
    </div>
  <% }); %>
</div>



    <p>
      <%= name %>
    </p>